* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navebar {
    height: 100px;
    line-height: 100px;
    background-color: #82d2d5;
    /* margin-top: -25px; */
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.nav_text {
    font-size: 38px;
    /* position: relative; */
    margin-left: 94px;
    /* top: 20px; */
}

.User_img {

    /* position: absolute; */
    margin-left: 1601px;
    /* margin-top: -20px; */
    height: 70px;
}

.Notification {
    height: 30px;
    /* position: absolute; */
    /* margin-left: 1701px; */
    /* margin-top: -20px; */

}