* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sidebar {
    height: 891px;
    width: 280px;
    background: #1C3342;
    display: flex;
    position: absolute;
    z-index: 1;
}

.Sidebar_data {
    width: 100%;
    height: 94%;
    margin-top: 50px;
}

.Box_img {
    height: 50px;
    line-height: 50px;
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #FFF;
    border-radius: 10px;
    /* margin-left: 20px; */
}

li {
    list-style: none;
    display: flex;
    /* margin-top: 40px; */
    padding: 20px;
    cursor: pointer;
    transition: 1s;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.imges_all {
    display: flex;

}

li:hover {
    background-color: #18B7BE;
    /* width: 280px; */
}

.Sidebar p {
    color: #fff;
    margin-left: 15px;
    font-size: 16px;
    width: 100%;
}

.Sidebar p a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.singout {
    height: 45px;
    width: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 80px;
    justify-content: center;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    background-color: #fff;
    margin-left: 27px;
    border-radius: 10px;
} 